img {
    width: 100%;
    height: auto;
    display: block;
}

body{
    background-image: url("pics/backgroundartweb.webp");
    background-repeat: repeat-y;
    background-size: contain;
    background-position: 10px 0px;
}    


@media(max-width:750px){

    .container{
        display: grid;
        place-items: center;
    }

    img, h3{
        grid-area: 1/1;
    }
    body{
        background-image: url("pics/backgroundartmobile.webp"), url("pics/backgroundartmobile.webp");
        background-repeat: no-repeat, no-repeat;
        background-size: contain, contain;
        background-position: 20px 120px, -5px 800px;
    }

}