*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*---------font----------*/
@font-face {
    font-family: "major";
    src: url(font/majormonodisplay-regular-webfont.woff2);
}

@font-face{
    
    font-family: "urban";
    src: url(font/urbanist-variablefont_wght-webfont.woff2);
}

@font-face{

    font-family: "urbanitalic";
    src: url(font/urbanist-italic-variablefont_wght-webfont.woff2);
}

/*---------GENERAL---------*/

body{
    background-color: #131313;
}

h1{
    font-family: "major", sans-serif;
    color: #FFFAFF;
    font-size: 28px;
    margin-block: 5%;
    text-align: center;
}

h2{
    font-family: "urban", sans-serif;
    color: #FFFAFF;
    font-size: 20px;
    margin-block: 5%;
    text-align: center;
}

h3{
    font-family: "urbanitalic", sans-serif;
    color: #FFFAFF;
    font-size: 15px;
}

main{
    margin-inline: 20%;
    margin-block: 2%;
}

.section{
    margin-block: 5%;
}

/*-------HEADER-------*/
header{
    outline-style: solid;
    outline-color: #9600FF;
    background-color: #131313;
    
}
nav{
    color:#FFFAFF;
    
    
}

li{
    list-style: none;
}


a{
    color: #FFFAFF;
    text-decoration: none;
    transition: 1s ease;
}

.nav_item h3:hover{
    color: #FED700;
    transition: 0.7s ease;
}

.nav_item h3:active{
    color: #FF00C1;
    transition: 0.2s ease;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px; /*0 top+bottom 24 left+right*/
}

.nav_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav_logo img{
    width: 30%;
    height: auto;
    margin-bottom: 20px;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto; /*5px top+bottom auto left+right*/
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #FFFAFF;
}


/*---------FOOTER--------*/

footer{
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 10%;
   font-family: "major", sans-serif;
   color: #FFFAFF;
   text-align: center;
}

/*-------BUTTON--------*/
button{
    display: none;
}



/*------MEDIA-------*/
@media(max-width:750px){
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav_menu{
        position: fixed;
        left: -100%;
        top: 100px;
        gap: 0;
        flex-direction: column;
        background-color: #131313;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav_item{
        margin: 16px 0;
    }

    .nav_menu.active{
        left: 0;
    }

    .section{
        margin-block: 15%;
    }

    .breadcrumbs{
        display: none;
    }

/*-------BUTTON-------*/


    .custom-btn {
        width: 130px;
        height: 40px;
        color: #FFFAFF;
        border-radius: 5px;
        margin-block: 10%;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
         7px 7px 20px 0px rgba(0,0,0,.1),
         4px 4px 5px 0px rgba(0,0,0,.1);
        outline: none;
      }

    .btn {
        background: #202020;
        border: none;
        z-index: 1;
    }

    .btn:after {
        position: absolute;
        content: "";
        width: 0;
        height: 100%;
        top: 0;
        right: 0;
        z-index: -1;
        background-color: #FF00C1;
        border-radius: 5px;
        box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
        7px 7px 20px 0px rgba(0,0,0,.1),
        4px 4px 5px 0px rgba(0,0,0,.1);
        transition: all 0.3s ease;
     }

    
    .btn:hover:after {
        width: 100%;
    }

}


