/*font*/
@font-face {
    font-family: "major";
    src: url(font/majormonodisplay-regular-webfont.woff2);
}

@font-face{
    
    font-family: "urban";
    src: url(font/urbanist-variablefont_wght-webfont.woff2);
}

@font-face{

    font-family: "urbanitalic";
    src: url(font/urbanist-italic-variablefont_wght-webfont.woff2);
}
body{
    background-color: #131313;
}

h1{
    font-family: "major", sans-serif;
    color: #FFFAFF;
}

h2{
    font-family: "urban", sans-serif;
    color: #FFFAFF;
}

h3{
    font-family: "urbanitalic", sans-serif;
    color: #FFFAFF;
}
/*btn*/
  .btn {
    position: relative;
    display: inline-block;
    width: auto; height: auto;
    background-color: transparent;
    font-family: "urban";
    border: none;
    cursor: pointer;
    margin: 0px 25px 15px;
    min-width: 150px;
  }

.btn-1::before {
    background-color: rgb(28, 31, 30);
    transition: 0.3s ease-out;
  }
  .btn-1 span {
    color: rgb(255,255,255);
    border: 1px solid rgb(28, 31, 30);
    transition: 0.2s 0.1s;
  }
  .btn-1 span:hover {
    color: #FED700;
    transition: 0.2s 0.1s;
  }

  .btn.hover-filled-opacity::before {
    top:0; bottom: 0; right: 0;
    height: 100%; width: 100%;
    opacity: 1;
  }
  .btn.hover-filled-opacity:hover::before {
    opacity: 0;
  }
 

/*sticky thing
div{
    position:sticky;
    */

    
