a h3:hover{
    color: #9600FF;
    transition: 0.3s ease;
}

main a h3{
    text-decoration: underline;
}

video{
    width: 70%;
    height: auto;
}

.video{
    text-align: center;
}


body{
    background-image: url("pics/backgroundartmobile.webp"), url("pics/backgroundartmobile.webp") , url("pics/backgroundartmobile.webp");
    background-repeat: no-repeat, no-repeat , no-repeat;
    background-size: contain, contain, contain;
    background-position: 10px 100px, -5px 800px, -5px 1500px;
}

div .tematekst h2{
    font-size: 12px;
}


@media(max-width:750px){

    body{
        background-image: url("pics/backgroundartmobile.webp"), url("pics/backgroundartmobile.webp") , url("pics/backgroundartmobile.webp");
        background-repeat: no-repeat, no-repeat , no-repeat;
        background-size: contain, contain, contain;
        background-position: 10px 100px, -5px 800px, -5px 1500px;
    }

    video{
        width: 100%;
        height: auto;
    }
}